import(parallel)
import(methods)
import(gaston)
importFrom("haplo.stats", "haplo.em")

useDynLib(gaston.pop, .registration = TRUE)

export(Rousset)
export(Fst)
export(het.haplo)
export(app.pairs,app.unpairs,zscore)
export(app.permut)
